.show-photo
	-if @photo.image.exists?
		.row
			=link_to remove_image_path(@photo), method: :delete, data: { confirm: 'Are you sure?'} do
				%i.icon-delete
			=image_tag(@photo.image.url, class: 'show-photo__image')
	.row
		= render 'form'
		%p.cancel
			= link_to 'Cancel', @back_url
