%h2.page-title Photos
.media-buttons
	%i.icon-grid2.show-grid2.active
	%i.icon-grid3.show-grid3
.media
	- @photos.each do |photo|
		.media-block
			/ Renders image
			= link_to image_tag(photo.image.url, class: 'media-block__image'), showphotos_path(photo)
			.media-body
				%h4.media-body__heading= photo.title
