%h2.page-title Photos
.media-buttons
	%a.icon-grid2.show-grid2.active
	%a.icon-grid3.show-grid3
#media.media.grid2
	- @photos.each do |photo|
		.media-block{style: "background-image: url('#{image_path(photo.image.url)}')"}
			= link_to showphotos_path(photo), :class => 'media-block__link' do
				.media-copy.center
					%h3.media-copy__title= photo.title
					%p.media-copy__caption= photo.caption
