%h2.page-title Photos
.media-buttons
	%a.icon-grid2.show-grid2.active
	%a.icon-grid3.show-grid3
#media.media.grid2
	- @photos.each do |photo|
		.media-block{style: "background-image: url('#{image_path(photo.image.url)}')"}
			.media-body
				=link_to photo.caption,showphotos_path(photo), class: 'center media-body__link'
				%h4.media-body__title= photo.title
