// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category {
	position: relative;
	&:before {
		display: block;
		content: '';
		width: 100%;
		padding-bottom: 56.25%;
		@include media-min-width(tablet) {
			padding-bottom: 100vh;
		}
	}
	&_image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include prefix(filter, brightness(50%),webkit ms o );
		z-index: 5;
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			@include media-min-width(tablet) {
				min-height: 100vh;
			}
		}
		@include media-min-width(tablet) {
			height: 100vh;
		}
	}
	&_link {
		position: absolute;
		font-family: $sanserif;
		font-size: 32px;
 		color: $white;
 		letter-spacing: 5px;
 		text-align: center;
 		z-index: 10;
 		@include media-min-width(tablet) {
 			font-size: 120px;
 		}
	}
	&_caption {
		display: block;
		width: 100%;
		font-family: $serif;
		font-weight: 600;
		text-align: center;
		letter-spacing: 3px;
		font-size: 14px;
		margin: 10px 0;
		@include media-min-width(tablet) {
 			font-size: 20px;
 		}
 		&:after{
	    position: relative;
	    display: block;
			content: '\2014';
		}
	}
	@include media-min-width (tablet) {
		min-height: 100%;
	}
}

.scroll {
  display: none;
  @include media-min-width (tablet) {
	  position: fixed;
	  width: 150px;
	  bottom: 20px;
	  left: 50%;
	  margin-left: -75px;
	  z-index: 50;
	  display: block;
	  text-align: center;
	  font-size: 12px;
	  opacity: 1;
	  @include prefix(transition, opacity .7s ease-in .2s ,webkit ms o );
	  @include prefix(font-smoothing, antialiased ,webkit ms o );
	  .icon {
	  	@include prefix(transition, all .3s ease,webkit ms o );
	    width: 26px;
	    height: 44px;
	    display: block;
	    border-radius: 13px;
	    border: 2px solid $white;
	    margin: 0 auto;
	    &:before {
	    	@include prefix(transition, all .3s ease,webkit ms o );
		    @include prefix(animation, bounce 2s ease infinite, webkit ms o);
		    width: 6px;
		    height: 6px;
		    position: absolute;
		    top: 20px;
		    border-radius: 50%;
		    background-color: $white;
		    content: '';
		    left: 50%;
		    margin-left: -3px;
	    }
	  }
  }
  &.scrolling {
  	opacity: 0;
  	@include prefix(transition, opacity .6s ease ,webkit ms o );
  }
}

