//Roboto Font

/* JosefinSans-Light */
@font-face {
  font-family: 'JosefinSans-Light';
  font-style: normal;
  font-weight: 300;
  src:url(asset-path('/assets/fonts/Josefin_Sans/JosefinSans-Light.ttf') format('truetype')); /* Safari, Android, iOS */
}

//JosefinSlab

/* JosefinSlab Light */
@font-face {
  font-family: 'JosefinSlab-Light';
  font-style: normal;
  font-weight: 300;
  src:url(asset-path('/assets/fonts/Josefin_Slab/JosefinSlab-Light.ttf') format('truetype')); /* Safari, Android, iOS */
}
