.hamburger {
	position: relative;
	visibility: visible;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	font-size: 0;
	text-indent: -9999px;
	@include media-min-width(tablet) {
		width: 50px;
		height: 50px;
	}
	@include prefix(border-radius, 48px, webkit ms o);
	background-color: $purple;
	cursor: pointer;
	@include prefix(transition, background 0.6s, webkit ms o);
	z-index: 5000;
	&.dark-hamburger {
		span {
			background: $gray;
			@include prefix(transition, transform 0.6s, webkit ms o);
			&::before, &::after{
				background-color: $gray;
				@include prefix(transition, transform 0.6s, webkit ms o);
			}
		}
	}
	&:focus {
		outline: none;
	}
	span {
    display: block;
    position: absolute;
    top: 20px;
    left: 11px;
    right: 11px;
    height: 1px;
    background: $white;
    &::before, &::after{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 1px;
      background: $white;
      content: "";
    }
    &::before {
      top: -6px;
    }
    &::after{
      bottom: -6px;
    }
    @include media-min-width(tablet) {
      top: 25px;
      left: 15px;
      right: 15px;
    }
  }
}

.hamburger--rot {
		opacity: 1;
		@include prefix(transition, opacity 0.6s linear 0.1s, webkit ms o);
		span {
			@include prefix(transition, transform 0.6s linear 0.1s, webkit ms o);
		}
}
/* active state, i.e. menu open */
.hamburger--rot.is-active {
		opacity: .9;
		background: $silver;
		span {
			background: $purple;
			@include prefix(transition, transform 0.5s linear 0.1s, webkit ms o);
			transform: rotate(90deg);
			&::before,
			&::after {
				background-color: $purple;
				@include prefix(transition, transform 0.5s linear 0.1s, webkit ms o);
			}
		}
}

