
header {
	display: block;
	position: fixed;
	z-index: 9000;
	width: 100%;
	background-color: $white;
	top: 0;
	left: 0;
	.logo {
		display: inline-block;
		position: fixed;
		vertical-align: middle;
		width: 60px;
		height: 60px;
		top: 20px;
		left: 20px;
    @include media-min-width (mobile) {
    	top: 30px;
			left: 30px;
    }
    @include media-min-width (tablet) {
    	top: 40px;
			left: 40px;
    }
  	i {
  		display: inline-block;
	    font-size: 30px;
	    color: $purple;
	    line-height: 30px;
	    font-weight: 600;
	    @include media-min-width (tablet) {
	    	font-size: 45px;
	    	line-height: 60px;
	    }
  	}
	}

	.title {
		text-decoration: none;
		font-size: 30px;
		color: black;
	}
	&.clear {
		background: none;
		.logo {
			color: $white;
		}
	}

}
