// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
	&.fixed {
		overflow-y: hidden;
		height: 100vh;
	}
	.row {
		max-width: 100%;
		margin: 50px auto;
		@include media-min-width(tablet) {
			max-width: 720px;
		}
		h2 {
			font-size: 50px;
			letter-spacing: 3px;
			font-family: $sanserif;
		}

		p {
			letter-spacing: 2px;
			font-family: $serif;
		}
	}
	.slider {
		padding-top: 130px;
		.slick-slide {
			height: 40vh;
			overflow: hidden;
			img {
				width: 100%;
				height: 40vh;
			}
		}
	}
}
