// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #fff;
$black: #000;
$gray: #595959;
$blue: #000033;
$silver: #c0c0c0;
$lightgray: #eeeeee;
$seagreen: #b9e2e0;
$darkseagreen: #6f8888;
$container-max-width: 1024px;
$content-lenght: 720px;

header {
	padding: 20px;
	background-color: $silver;
	.logo,
<<<<<<< HEAD
	.title,
	nav,
	access {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		color: $white;
		a {
			text-decoration: none;
			color: $white;
			margin: 0 5px;
		}
	}

	access {
		float: right;
		a {
			background-color: $black;
			padding: 10px 20px;
		}
	}

	nav {
		margin: 0 40px;
=======
	.title {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
>>>>>>> b53b7d9534e8315f3b0bca521a11e833b7b7b599
	}

	.title {
		margin-left: 10px;
		font-size: 28px;
		text-decoration: none;
<<<<<<< HEAD
	}

=======
		color: $white;
	}
>>>>>>> b53b7d9534e8315f3b0bca521a11e833b7b7b599
	img {
		width: 30px;
	}

<<<<<<< HEAD
	form {
		display: block;
		max-width: 720px;
		margin: 0 auto;
	}

=======
>>>>>>> b53b7d9534e8315f3b0bca521a11e833b7b7b599
}
