// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media-buttons {
	display: none;
	@include media-min-width (tablet) {
		display: block;
		text-align: center;
		a {
			width: 40px;
			font-size: 40px;
			color: $silver;
			&:hover,
			&.active {
				color: $black;
				cursor: pointer;
			}
			&.invisible {
				display: none;
			}
		}
	}
}
.media {
	display: block;
	font-size: 0;
	padding: 10px;
	@include media-min-width (tablet) {
		&.grid2 {
			.media-block {
				@include calc( width, '50% - 10px');
			}
		}
		&.grid3 {
			.media-block {
				@include calc( width, '(100%/3) - 10px');
			}
			.media-body {
				font-size: 16px;
			}
		}
	}
}

.media-block {
	position: relative;
	display: inline-block;
	@include calc( width, '100% - 10px');
	margin: 5px;
	@include prefix(background-size, cover, webkit ms o);
	overflow: hidden;
	font-family: $serif;
	&:before {
		content: "";
		display: block;
		padding-bottom: 60%;
	}

	@include media-min-width (mobile) {
		@include calc( width, '50% - 10px');
	}

	@include media-min-width(tablet) {
		@include prefix(transition, background-color 0.7s ease-in .1s, webkit ms o);
		&:hover {
			@include prefix(transition, filter 0.7s ease-in , webkit ms o);
			.media-body {
				top: 0;
				bottom: 0;
				opacity: 1;
				background-color: rgba( $black, .6 );
				@include prefix(transition, all 0.7s ease-in , webkit ms o);
				&__link {
					font-size: 16px;
					color: $white;
				}
				&__title {
					bottom: 0;
					font-size: 20px;
					@include prefix(transition, all 0.7s ease-in 0.2s, webkit ms o);
				}
			}
		}
	}

}



.media-body {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	opacity: 1;
	overflow: hidden;
	@include prefix(transition, all 0.7s ease-in , webkit ms o);
	&__link {
		display: block;
		position: absolute;
		font-size: 0;
		width: 100%;
		padding: 40% 0;
		text-align: center;
		color: $white;
		@include prefix(transition, all 0.7s ease-in , webkit ms o);
	}
	&__title {
		position: absolute;
		display: block;
		@include calc( width, '100% - 40px');
		bottom: 0;
		text-align: left;
		font-size: 18px;
		color: $white;
		border: 1px solid white;
		padding: 10px;
		margin: 10px;
		@include prefix(transition, all 0.7s ease-in 0.3s, webkit ms o);
	}
	@include media-min-width(tablet) {
		opacity: 0;
		top: 0;
		bottom: -50%;
		&__title {
			font-size: 0;
			background-color: $white;
			color: $gray;
		}
	}
}

.btn-danger {
	display: inline-block;
	vertical-align: middle;
  font-weight: 600;
}

.show-photo {
	margin: 70px auto;
	max-width: 720px;
	@include media-min-width (desktop) {
		margin: 70px auto;
	}
	&__image {
		display: block;
		width: 100%;
		margin: 20px auto;
	}
	&__link {
		display: inline-block;
		margin: 20px 10px 15px 0;
		color: $purple;
		font-family: $serif;
		font-size: 20px;
		font-weight: 600;
	}
	&__title {
		font-family: $sanserif;
		font-size: 30px;
		margin-bottom: 15px;
	}
	&__caption {
		font-family: $serif;
		font-size: 20px;
		margin-bottom:15px;
	}
	&__date {
		font-family: $sanserif;
		font-size: 12px;
	}
}
