
// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// photos index Views

.media-buttons {
	display: none;
	@include media-min-width (tablet) {
		display: block;
		text-align: center;
		a {
			width: 40px;
			font-size: 40px;
			color: $silver;
			&:hover,
			&.active {
				color: $purple;
				cursor: pointer;
			}
			&.invisible {
				display: none;
			}
		}
	}
}
.media {
	display: block;
	font-size: 0;
	padding: 10px;
	@include media-min-width (mobile) {
		padding: 10px 20px;
	}
	@include media-min-width (tablet) {
		padding: 10px 30px;
		&.grid2 {
			.media-block {
				@include calc( width, '50% - 10px');
			}
		}
		&.grid3 {
			.media-block {
				@include calc( width, '(100%/3) - 10px');
			}
		}
	}
}

.media-block {
	position: relative;
	display: inline-block;
	margin: 5px;
	@include calc( width, '100% - 10px');
	@include prefix(background-size, cover, webkit ms o);
	overflow: hidden;
	&__image {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
  	@include prefix(transition, opacity 0.6s ease-in, webkit ms o);
	}

	&__link {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba( $black, .6 );
		z-index: 3;

		@include media-min-width(tablet) {
			background-color: rgba( $purple, 0 );
			@include prefix(transition, background-color 0.7s ease-in-out 0.3s, webkit ms o);
			&:hover {
				background-color: rgba( $purple, .8 );
				color: $white;
				@include prefix(transition, background-color 0.6s ease-in-out 0.1s, webkit ms o);
				.media-copy {
					&__title {
						color: $white;
						font-size: 32px;
						@include media-min-width(desktop) {
							font-size: 42px;
						}
						@include prefix(transition, all 0.7s ease-in 0.1s, webkit ms o);
					}
					&__caption {
						font-size: 14px;
						@include prefix(transition, all 0.7s ease-in 0.1s, webkit ms o);
					}
				}
			}
		}

	}

	&:before {
		content: "";
		display: block;
		@include calc( padding-top, '591.44/1127.34*100%');
	}

	@include media-min-width (mobile) {
		@include calc( width, '50% - 10px');
	}

}

.media-copy {
	position: absolute;
	text-align: center;
	width: 100%;
	&__title {
		font-size: 32px;
		font-family: $sanserif;
		color: $purple;
		letter-spacing: 2px;
	}
	&__caption {
		margin-top: 5px;
		font-size: 16px;
		color: $white;
		font-family: $serif;
		&:after{
	    position: relative;
	    display: block;
			content: '\2014';
		}
	}
	@include media-min-width(tablet) {
		@include prefix(transition, background-color 0.6s ease-in-out .3s, webkit ms o);
		&__title,
			&__caption {
			font-size: 0;
			@include prefix(transition, all 0.7s ease-in .1s, webkit ms o);
		}
	}
}

//Photo show view

.show-photo {
	margin: 20px;
	max-width: 720px;
	@include media-min-width (tablet) {
		max-width: 100%;
		margin: 30px 20px 20px;
	}
	&__image {
		display: block;
		width: 100%;
		margin: 10px auto 20px;

	}
	&__title {
		font-family: $sanserif;
		font-size: 18px;
		margin-bottom: 15px;
		@include media-min-width (tablet) {
			font-size: 25px;
		}
	}
	&__caption {
		font-family: $serif;
		font-size: 16px;
		margin-bottom:15px;
		@include media-min-width (tablet) {
			font-size: 18px;
		}
	}
	&__date {
		font-family: $serif;
		font-size: 14px;
		@include media-min-width (tablet) {
			font-size: 16px;
		}
	}
}

.photo-links {
	margin: 20px;
	max-width: 720px;
	&__link {
		display: inline-block;
		color: $purple;
		font-family: $sanserif;
		font-size: 16px;
		@include media-min-width (tablet) {
			font-size: 20px;
		}
	}
}

//Photo Edit view

.edit-photo {
	width: 100%;
	margin-top: 130px;
	.cancel_edit {
		color: $purple;
		text-align: right;
	}
	.confirm {
		color: $purple;
	}
}
