// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
	padding: 75px 20px 0;
	text-align: center;
	@include media-min-width(mobile) {
		padding: 110px 20px 0;
	}
	@include media-min-width(tablet) {
		padding: 120px 20px 0;
	}
	i {
		font-size: 40px;
		width: 40px;
	}
	i,
	p,
	img {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	p{
		font-size: 38px;
		margin: 0 20px;
		font-family: $sanserif;
	}
}

.user-menu {
	display: block;
	margin: 25px auto;
	text-align: center;
	&__item{
		display: inline-block;
		border-right: 3px solid $purple;
		&:last-child {
			border:none;
		}
	}
	a {
		display: inline-block;
		position: relative;
		font-family: $serif;
		padding: 0;
		margin: 0px 15px;
		font-size: 16px;
		@include media-min-width (tablet) {
			font-size: 18px;
			@include prefix(transition, background-color .5s ease 0.1s, webkit ms o);
			&:after {
				display: block;
		    position: absolute;
		    content: '';
		    width: 0;
		    bottom: -4px;
		    height: 2px;
		    background: $purple;
		    @include prefix(transition, width .6s ease 0.1s, webkit ms o);
			}
			&:hover {
				&:after {
					width: 100%;
					@include prefix(transition, width .6s ease 0.1s, webkit ms o);
				}
			}
		}
	}
}

.edit-account {
	width: 100%;
	margin: 0 auto;
	@include media-min-width (tablet) {
		margin: 130px auto;
		width: 768px;
	}
	.col {
		display: block;
		width: 100%;
		height: 100%;
		@include media-min-width (tablet) {
			display: inline-block;
			font-size: 0;
		}
		&:nth-child(2){
			vertical-align: top;
			@include media-min-width (tablet) {
				width: 25%;
			}
		}
		&:nth-child(3){
			width: 74%;
			margin: 0 auto;
		}
	}
}

.submit,
.cancel {
  display: block;
  width: 200px;
  margin: 40px auto;
  font-size: 18px;
  text-align: center;
}

.profile {
	display: inline-block;
	position: relative;
	height: 100%;
	vertical-align: middle;
	a,
	button {
		border: 1px solid $silver;
	}
	a {
		padding: 8px;
	}
	button {
		padding: 7px 2px;
		width: 35px;
		span {
			color: black;
		}
		&:hover {
			color: $purple;
		}
	}
}
